body {
	background-color: #ee3f54;
	font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5, h6, button {
	font-family: 'Bree Serif', serif;
}

#social-container {
	background-color: #1c3343;
}

#logo-container .callout {
	margin-bottom: 0;
	background-color: #ee3f54;
	color: white;
}

#menu-container {
	background-color: #48a19d;
}

#menu-container li a {
	font-family: 'Bree Serif', serif;
	color: white;
}

#menu-container li a:hover {
	color: #f6e15f;
}

#submenu-container {
	border: 0;
}

#submenu-container li a {
	background-color: #48a19d;
	color: white;
}

#submenu-container li a:hover {
	color: #f6e15f;
}

#tickets-action .callout {
	margin-bottom: 0;
	background-color: #5e7eb7;
	color: white;
}

#tickets-action .callout button {
	border: 1px solid white;
	color: white;
}

#lineup-container {
	padding: 1em;
}

#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a,
#lineup-container .tabs-panel {
	background-color: #9676af;
	border: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	text-transform: uppercase;
}

#lineup-container .tabs .tabs-title a {
	font-family: 'Bree Serif', serif;
	font-size: 18px;
	color: #a7ffff;
}

#lineup-container .tabs .tabs-title a:hover {
	background-color: #9676af;
	color: white;
}

.tabs-title {
	display: inline-block;
	float: none;
}

.tabs-content {
	border: 0;
}

#lineup-container .orbit-container {
	margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption {
	text-align: right;
}