body {
	background-color: #ee3f54;
	font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5, h6, button {
	font-family: 'Bree Serif', serif;
}

#social-container {
	background-color: #1c3343;
}

#logo-container .callout {
	margin-bottom: 0;
	background-color: #ee3f54;
	color: white;
}

#menu-container {
	background-color: #48a19d;
}

#menu-container li a {
	font-family: 'Bree Serif', serif;
	color: white;
}

#menu-container li a:hover {
	color: #f6e15f;
}

#submenu-container {
	border: 0;
}

#submenu-container li a {
	background-color: #48a19d;
	color: white;
}

#submenu-container li a:hover {
	color: #f6e15f;
}